* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background-color: #222;
	font-family: Arial;
}
header{
	background-color: white;
	height: 75px;
	text-align: center;
}
header h1{
	padding:20px;
}
p{
	padding:10px;
	color:white;
	font-size: 20px;
	text-align: center;
}
.Simulation{
	margin: 50px auto;
	border: 3px solid white;
	width: 300px;
	padding: 30px;
	height: 200px;
	position:relative;
}
#user_bar{
	background: #256627;
	position: absolute;
	bottom: 0%;
	left: 0%;
	height: 0%;
	width: 33%;
}
#computer_bar{
	background: red;
	position: absolute;
	bottom: 0%;
	left: 33%;
	height: 0%;
	width: 33%;
}
#draw_bar{
	background: #edc254;
	position: absolute;
	bottom: 0%;
	left: 66%;
	height: 0%;
	width: 33%;
}
#win_per{
	position:absolute;
	top:10%;
	display:block;
	color:white;
	font-size: 25px;
}
#lose_per{
	position:absolute;
	top:10%;
	left:33%;
	display:block;
	color:white;
	font-size: 25px;
}
#draw_per{
	position:absolute;
	top:10%;
	left:66%;
	display:block;
	color:white;
	font-size: 25px;
}
.Scoreboard{
	margin: 20px auto;
	border: 3px solid white;
	width:200px;
	color:white;
	font-size:30px;
	padding: 10px;
	position:relative;
	text-align: center;
}
.win_tag{
	background: green;
	padding: 5px;
	position: absolute;
	font-size: 15px;
	top: 10%;
	left: -10px;
}
.loss_tag{
	background: red;
	padding: 5px;
	position: absolute;
	font-size: 15px;
	top: 40%;
	left: -10px;
}
.draw_tag{
	background: #edc254;
	padding: 5px;
	position: absolute;
	font-size: 15px;
	top: 70%;
	left: -10px;
}
.Options{
	font-size: 30px;
	color:white;
	text-align: center;
}
.Choice{
	display:inline-block;
	border: 3px solid white;
	border-radius: 50%;
	margin: 10px;
	padding: 10px;
}

.Choice:hover{
	color:Red;
	cursor: pointer;
}

.Button{
	background: white;
	display: inline-block;
	padding: 10px;
	margin: 0;
	color: black;
}
.Button:hover{
	cursor: pointer;
	background: #999;
}

.win {
	border: 3px solid green;
}

.lose {
	border: 3px solid red;
}

.draw {
	border: 3px solid yellow;
}